.sequencerController {
  width: 900px;
  height: 100px;
  background-color: grey;
  display: inline-flex;
}
.sequencerTitle {
  font-size: 2em;
  text-align: left;
  position: relative;
  top: 15px;
  left: 10px;
  text-decoration: underline;
}

.globalControlsContainer {
  position: relative;
  top: 40px;
  left: -170px;
  /* background-color: brown; */
  height: 60px;
  width: 200px;
}
.globalControlLabel {
  text-align: left;
  line-height: 1em;
}
.sampleControlsContainer {
  /* background-color: blue; */
  position: relative;
  left: -170px;
  height: 100px;
  width: 350px;
}

.tempoControl {
  position: relative;
  left: 5px;
  top: 0px;
}
.playControl {
  position: relative;
  left: 75px;
  top: -30px;
}
